body {
  font-family: 'Roboto', sans-serif;
}

canvas {
  display: inline-block;
  border: 1px whitesmoke solid;
}

.toolbar {
  display: block;
  height: 4rem;
  margin-bottom:1rem;
  padding-right: 18vw
}

.toolbar h1{
  display:inline-block;
  margin: 0;
}

.toolbar button {
  float:right;
  display: inline-block;
  margin-right: 1rem;
  background-color: steelblue;
  border: none;
  color: white;
  padding: 0.5rem;
  text-align: center;
  text-decoration: none;
  font-size: 1rem;
  border-radius: 0.5rem;
  clear:left;
}

.toolbar button:hover {
  background-color: lightsteelblue;
}
.toolbar button:focus {
  outline: 0;
}

.toolbar form{
  float:right;
  display:inline-block;
}

.toolbar input{
  display: inline-block;
  float:right;
  height: 2rem;
  margin: 0;
  margin-right: 1rem;
  outline: none;
  border: none;
  border-bottom: 1px solid lightgray;
}

.sidebar {
  float: left;
  display: inline;
  padding-top: 10px;
  margin-right: 30px;
  height: 85vh;
  overflow-y: auto;
}
.sidebar button {
  display: block;
  margin-bottom: 1rem !important;
  background-color: gray;
  border: none;
  color: white;
  padding: 0.5rem;
  text-align: center;
  text-decoration: none;
  font-size: 1rem;
  border-radius: 0.5rem;
}

.sidebar button:hover {
  background-color: rgb(143, 143, 143);
}

.sidebar button:focus {
  outline: 0;
}


.diagram {
  display:inline-block;
}

.konvajs-content {
  margin: 0;
}

.saved-diagrams{
  overflow:auto;
  vertical-align: top;
  display:inline-block;
  width: 200px;
  height: (85vh);
  margin-left: 2rem;
  top: 0;
}

.saved-diagrams h3{
  display: block;
  margin: 0;
}