canvas {
  border: 1px whitesmoke solid;
}

.sidebar {
  float: left;
  display: inline;
  padding-top: 10px;
  height: 80vh;
  overflow-y: scroll;
}
.sidebar button {
  display: block;
}

.konvajs-content {
  margin: 0;
}

canvas {
  display: inline-block;
}
